VITE_PROFILE_NAME="John Doe"
VITE_PROFILE_FIRST_NAME="John"
VITE_PROFILE_LAST_NAME="Doe"
VITE_PROFILE_TITLE="Developer"
VITE_PROFILE_ORG="My Org"
VITE_PROFILE_EMAIL="jd@example.com"
VITE_PROFILE_PHONE="+390000000000"
VITE_PROFILE_LINKEDIN_URL="https://www.linkedin.com/in/example/"
VITE_PROFILE_IMAGE_URL="https://picsum.photos/200"
VITE_BG_COLOR="#020202"